[submodule "source/frontends/qt/QHexView"]
	path = source/frontends/qt/QHexView
	url = https://github.com/Dax89/QHexView
	branch = 5.0
[submodule "source/frontends/sdl/imgui/imgui"]
	path = source/frontends/sdl/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "source/frontends/sdl/imgui/imgui_club"]
	path = source/frontends/sdl/imgui/imgui_club
	url = https://github.com/ocornut/imgui_club
	branch = main
[submodule "source/frontends/sdl/imgui/imgui-filebrowser"]
	path = source/frontends/sdl/imgui/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
