name: build

on:
  push:
  pull_request:
  workflow_run:
    # Use a workflow as a trigger of scheduled builds. Forked repositories can disable scheduled builds by disabling
    # "scheduled" workflow, while maintaining ability to perform local CI builds.
    workflows:
      - scheduled
    branches:
      - master
      - docking
    types:
      - requested

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install $(cat source/linux/raspbian.list.txt)

      - name: Build
        run: |
          cmake --version
          cmake -S . -B build
          cmake --build build
          cmake -S . -DBUILD_QAPPLE=ON -DQAPPLE_USE_QT5=ON -B build-qt5
          cmake --build build-qt5
          cmake -S . -DBUILD_LIBRETRO=ON -DSTATIC_LINKING=ON -B build-static
          cmake --build build-static
          ldd build-static/source/frontends/libretro/applewin_libretro.so
